<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Registration</title>
    {% include "bootstrap.html" %}
  </head>
  <body>
    {% include "nav.html" %}

    <div class="container">
      <div class="row">
        <div class="panel">
          <div class="panel-heading"><h3 class="panel-title">Registration</h3></div>
          <form action="/register/" method="post">
            <fieldset>
              <label>Username</label>
              <input type="text" name="username" />
              <label>Password</label>
              <input type="password" name="password" />
              <button type="submit" class="btn">Submit</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>

